<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">BreaveBits</a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <img src="https://i.ytimg.com/vi/G89vXYf2CK8/maxresdefault.jpg" alt="" class="user-avatar">
          Ahdam
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/courses/create">Đăng khóa học</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/me/stored/courses">Khóa học của tôi</a>
          <a class="dropdown-item" href="/me/stored/news">Bài viết của tôi</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>

  </div>
</nav>